.header{
    background-color: rgb(61, 54, 88);
    float: left;
    height: 40px;
    width: 100%;
}

.textdump{
    color: rgb(73, 73, 73);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(156, 156, 156);
    margin: auto;
    border: 5px solid gray;
    padding: 25px;
    width: 900px;
    height: 30px;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calibri{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gainsboro;
    text-align: center;
    
    
}

.realdif{
    color: rgb(73, 73, 73);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(156, 156, 156);
    margin: auto;
    border: 5px solid gray;
    padding: 10px;
    width: 300px;
    height: 30px;
    font-size: 27px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.felo{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gainsboro;
    text-align: center;
}

.central{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
 
}

.litsts{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gainsboro;
    
}

.tablats{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    
}

td, th {
    word-wrap: break-word;  
    white-space: normal;    
    border: 1px solid rgb(56, 56, 56);
    padding: 10px;
    vertical-align: top;   
}

.textarea{
    width: 30%;
    height: 300px;
}

.formgr{
     color: rgb(255, 255, 255);
    background-color: rgb(156, 156, 156);
    margin: auto;
    border: 5px solid gray;
    padding: 10px;
}

.footer{
    float: left;
    width: 100%;
    height: 150px;
    background-color: rgb(219, 219, 219);
}

.sidebar{
    position: fixed;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    color: white;
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #bdc3c7;
    display: block;
    transition: 0.3;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #34495e;
}

.contenido-principal {
    margin-left: 230px;
    padding: 20px;
}

html {
    scroll-behavior: smooth;
}

.textalin{
    text-align: center;
}

.puntos{
    list-style-type: none;
}

